<p>landing works!</p>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>


      <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
          <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')">
          </div>
        </div>
        <div class="waveWrapperInner bgMiddle">
          <div class="wave waveMiddle"
            style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
          <div class="wave waveBottom"
            style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
        </div>
      </div>



  <div class="title-container" style="z-index: 99;">
    <div >
      <div  style=" display:contents; align-items: flex-end;">
        <div style = "padding-bottom: 3%;">
          <button mat-raised-button matBadge="7" >
            Hide
        </button>
        <p>
          Button with a badge on the left
          <button mat-raised-button color="primary"
              matBadge="8" matBadgePosition="before" matBadgeColor="accent">
            Action
          </button>
        </p>

        </div>

        <!-- <h1 class="title" style="font-size : 4em;  align-self: center; margin-top: 3%;">Szczep</h1><br> -->
        <h1 class="title" style="font-size : 6em;">Hello and welcome to this thing</h1>
      </div>
    </div>
  </div>
