<div id="search-component">
  <h4><label for="search-box">Register an account by providing your username and password</label></h4>

  <input maxlength = "30" #nameBox id="search-box" (input)="handleName(nameBox.value)" placeholder="Enter your username" />
   <input maxlength = "30"  #usernameBox id="search-box" (input)="handleUsername(usernameBox.value)" placeholder="Enter your email" />
   <input maxlength = "30" #passwordBox id="search-box" (input)="handlePassword(passwordBox.value)" placeholder="Enter your password" />
  <button (click) = "handleRegister()" >Register</button>

</div>
