<mat-card >
  <mat-card-title>
    Register your acccount</mat-card-title>
    <img mat-card-image  style = "max-width:50%; max-height:50%;  margin: 0 auto;"  src = "../../../../assets/img/dancing-duck2.gif">
    <img mat-card-image  style = "max-width:30%; max-height:30%;  margin: 0 auto;"  src = "../../../../assets/img/anchor.png">

    <mat-card-content>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <mat-card-subtitle>Register an account by providing your username and password</mat-card-subtitle>

  <mat-spinner *ngIf="loading"></mat-spinner>

<mat-form-field appearance="outline">
  <mat-label>Enter your username</mat-label>
  <input matInput maxlength = "30" #nameBox id="search-box" (input)="handleName(nameBox.value)" placeholder="Enter your username"  >
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Enter your email</mat-label>
  <input matInput maxlength = "30"  #usernameBox id="search-box" (input)="handleUsername(usernameBox.value)" placeholder="Enter your email"  >
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Enter your password</mat-label>
  <input matInput maxlength = "30" #passwordBox id="search-box" (input)="handlePassword(passwordBox.value)" placeholder="Enter your password" >
</mat-form-field>

    <button mat-button color="primary" (click) = "handleRegister()">Register</button>
    <button mat-button color="accent" (click) = "handleLogin()">Login</button>


</mat-card-content>
</mat-card>
