
 @media  only screen and (max-width: 700px)  {

  .logo-big {
    height: 32px;
    width:  32px;
    margin-left:0%;
    margin-right: 3%;
  }
  li{
    display:table;
    margin:0px auto 0px auto;
  }
  .navbar-brand{
    margin-right: 0;
  }
}

@media  only screen and (max-width: 1000px) and (min-width: 700px) {

  .logo-small {
    height: 32px;
    width:  32px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .logo-big {
    height: 32px;
    width:  32px;
    margin-left:15%;
    margin-right: 3%;
  }
  li{
    display:table;
    margin:0px auto 0px auto;
  }
}

@media  only screen and (max-width: 900px)  {
  li{
    display:table;
    margin:0px auto 0px auto;
  }

}
/* @media  only screen and (min-width: 800px)  { */


@media  only screen and (min-width: 1000px)  {
  .logo-big {
    height: 32px;
    width:  32px;
    margin-left:15%;
    margin-right: 3%;
  }
  
}



