/* .custom-nav-item {
  font-family: "SF-Pro-Light", Arial, Helvetica, sans-serif;
}
 */
 @media  only screen and (max-width: 600px)  {
  .icons{
    display:none;
  }

  .logo-small {
    height: 32px;
    width:  32px;
    margin-left: 0%;
    margin-right: 0%;
  }

  .brand-small {
    height: 32px;

  }
}

/* @media  only screen and (min-width: 800px)  { */

.logo-big {
  height: 32px;
  width:  32px;
  margin-left:15%;
  margin-right: 3%;
}

.black_button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2)0 1px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;

}







