<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fadein">
  <img
    class="logo-big logo-small"
    src="../assets/img/anchor.png"
    alt="Anchor logo"
  />
  <a
    class="navbar-brand brand-small"
    (click)="navigateToMain()"
    data-toggle="tooltip"
    style="cursor: pointer"
  >
    Nautical Photo</a
  >

  <!-- Hamburger -->
  <button class="navbar-toggler" type="button" (click)="toggleMenuCollapsed()">
    &#9776;
  </button>

  <div
    [ngbCollapse]="isMenuCollapsed"
    class="collapse navbar-collapse justify-content-end"
    style="margin-right: 15%"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/explore'" style="cursor: pointer"
          >Explore</a
        >
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink]="'/auth'" style="cursor: pointer"
          >Login</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a (click)="logout()" class="nav-link" style="cursor: pointer"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
